@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
<p>Please choose how you want to sign in:</p>
<ul>
    <li><a href="/Account/Login/user">Login as user</a></li>
    <li><a href="/Account/Login/admin">Login as admin</a></li>
</ul>
<p>After signing in, you'll be redirected to the booking calendar.</p>
